* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #eccaff; */
  background: #ffafbd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc3a0,
    #ffafbd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc3a0,
    #ffafbd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Dela Gothic One', sans-serif;
  font-size: 16px;
  height: 100vh;
}

.header {
  padding: 2rem 0 5rem;
  text-align: center;
  width: 100%;
}

.container {
  width: 100%;
}

.game-container {
  background-color: rgb(255, 229, 229);

  border-radius: 25px;
  box-shadow: 25px 25px 60px -30px rgb(102, 99, 112);
  color: #d1105a;
  display: flex;
  gap: 2rem;

  margin: auto;
  max-width: 80rem;
}

.left-col,
.right-col {
  display: flex;
  align-items: center;
  flex-direction: column;

  flex: 1;
  gap: 6rem;
  text-align: center;
  width: 33%;
}

.score-div {
  font-size: 3rem;
  margin-top: 3rem;
}

.player-choice,
.comp-choice {
  height: 200px;
  margin-bottom: 3rem;
  width: 200px;
  background-color: white;
}

.middle-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;

  flex: 1;
  text-align: center;
  width: 34%;
}

h2 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

button {
  background-color: inherit;
  border: none;
}

.btn,
.choice-img {
  transition: transform 0.3s ease-out;
}

.choice-img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btn {
  background-color: #d1105a;
  border-radius: 10px;
  color: white;
  font-family: inherit;
  font-size: 1.1rem;
  padding: 1rem 2.5rem;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.hidden {
  display: none;
}
