* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #eccaff; */
  background: #ffafbd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc3a0,
    #ffafbd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc3a0,
    #ffafbd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Dela Gothic One', sans-serif;
  font-size: 16px;
  height: 100vh;
}

.header {
  padding: 2rem 0 5rem;
  text-align: center;
  width: 100%;
}

.container {
  width: 100%;
}

.game-container {
  background-color: rgb(255, 229, 229);

  border-radius: 25px;
  box-shadow: 25px 25px 60px -30px rgb(102, 99, 112);
  color: #d1105a;
  display: flex;
  gap: 2rem;

  margin: auto;
  max-width: 80rem;
}

.left-col {
  color: #2b9348;
}

.left-col,
.right-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  flex: 1;
  gap: 6rem;
  text-align: center;
  width: 33%;
}

.score-div {
  font-size: 3rem;
  margin-top: 3rem;
}

.player-score,
.comp-score {
  font-size: 5rem;
}

.round-status {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 18.4rem;
}

.result-message {
  font-size: 2.5rem;
}

.result-msg-desc {
  font-size: 1.5rem;
}

.player-choice,
.comp-choice {
  margin: 1rem 0 3rem;
}

.rps-div,
.player-choice,
.comp-choice {
  background-color: #023047;
  border: 10px solid #3fc1c0;
  box-sizing: unset;
  border-radius: 50%;
  padding: 0.5rem;
  height: 100px;
  width: 100px;
}

.player-choice {
  border-color: #2b9348;
}

.comp-choice {
  border-color: #d1105a;
}

.middle-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;

  flex: 1;
  padding: 2rem 0;
  text-align: center;
  width: 34%;
}

h2 {
  color: #023047;
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
}

.rps-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.btn,
.rps-div {
  transition: transform 0.3s ease-out;
}

.rps-div:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.reset-game {
  height: 70px;
}

.btn {
  background-color: #3fc1c0;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: inherit;
  font-size: 1.1rem;
  padding: 1rem 2.5rem;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.hidden {
  display: none;
}
